* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

ol {
    list-style: none;
}

.main {
    position: relative;
    left: 50%;
    margin: 0 -480px;
    border: .3px;
    width: 960px;
    height: 540px;
    overflow: hidden;
}

.lbt {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -100%;
    width: 600%;
    height: 540px;
}

.lbt li {
    float: left;
    width: 960px;
    height: 540px;
}

.lbt li img {
    width: 960px;
    height: 540px;
}

.olist {
    position: absolute;
    bottom: 50px;
    right: 50px;
    bottom: 20px;
    width: auto;
    height: auto;
    font-size: 0;
}

.olist li {
    float: left;
    margin: 2px 10px;
    height: 10px;
    border-radius: 3px;
    background-color: red;
    transition: all .1s;
}

.not-current-ol {
    width: 10px;
}

.current-ol {
    width: 40px;
}